page-cadastro-celula {
    .error {
        color: #ff0000;
        font-size: 12px;
        padding-left:12px;
    }
    .textbox {
        height: 200px;
    }
    .button-padding {
        padding: 8px;
    }
}
